<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/Burgers.js"></script>
				{{!-- UI Kit JS --}}
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit-icons.min.js"></script>

		{{!-- UI Kit CSS --}}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
